body {
  background-color: #f0f0f0;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  .contents {
    background-color: #fcf8f5;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 4rem;
    padding-bottom: 4rem;

    font-family: "Segoe UI", Calibri, sans-serif;
    font-weight: 550;

    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 80% auto;

    .cart {
      background-color: #ffffff;
      border-radius: 10px;
      padding: 1rem;
      margin-bottom: 225%;

      h1 {
        font-size: 22px;
        color: #da5918;
      }
      img {
        margin-top: 35px;
        margin-left: 70px;
      }
      p {
        margin-left: 45px;
        font-size: 10px;
        color: #978370;
      }
    }

    .layout {
      .desserts-title {
        font-weight: bolder;
      }
      .grid {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 31% 31% 31%;

        .cards {
          line-height: 8px;
          h1 {
            font-size: 13px;
            font-weight: normal;
            color: #818181;
          }
          p {
            font-size: 15px;
            font-weight: bold;
          }
          .price {
            color: #da5918;
            font-weight: bolder;
            font-size: 15px;
          }

          .icon {
            width: 20px;
            height: 20px;
            transform: translateX(75px) translateY(-213px);
            margin-bottom: -100px;
          }
          button {
            border-style: solid;
            border-color: #afaeae;
            border-width: 1px;
            border-radius: 20px;
            background-color: white;
            width: 140px;
            height: 10%;
            margin-left: 45%;
            transform: translateX(-50%) translateY(-280%);
            p {
              margin-left: 20px;
              margin-top: 7px;
              font-weight: 550;
              font-size: 13px;
            }
          }

          button:hover {
            background-color: #c83b0e;
            border-color: #d88c77;
          }
          img {
            border-radius: 7px;
            width: 250px;
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
}
